<template>
    <form>
        <div class="container">
            <h1>Person ID: {{ person.id }}</h1>
            <div class="card" style="width: 30em;">
                <div class="center">
                    <img :src="person.avatar" class="avatar" style="width: 15em;">
                </div>
                <div style="padding: 1em;">
                    <label for="name">full name
                        <input type="text" id="name" name="name" v-model="person.name">
                    </label>
                    <label for="email">email address
                        <input type="email" id="email" name="email" v-model="person.email">
                    </label>
                    <label for="company">company name
                        <input type="text" id="company" name="company" v-model="person.company">
                    </label>
                    <label for="age">age
                        <input type="number" id="age" name="age" v-model="person.age" :min="20" :max="85">
                    </label>
                </div>

                <div class="buttons">
                    <a @click.prevent="cancel" class="btn btn-secondary"> Cancel </a>
                    <a @click.prevent="saveItem" class="btn btn-success"> Save </a>
                </div>
            </div>
        </div>
    </form>
</template>

<script setup>
    import {ref, onMounted} from 'vue'
    import {useRouter} from 'vue-router'
    import {findById, insert, update} from '../persons.dao.js'

    const props = defineProps({
        id: Number
    })

    const router = useRouter()
    const person = ref({})

    const cancel = () => {
        router.back()
    }
    const loadItem = async () => {
        person.value = await findById(props.id)
    }
    const saveItem = async () => {
        if (Number(props.id) === -1) {
            await insert(person.value);
        } else {
            await update(props.id, person.value)
        }
        cancel()
    }

    onMounted(loadItem)
</script>

<style scoped>

</style>