<template>
    <h1>
        <span>List of Persons</span>
        <router-link to="/edit/-1" class="btn btn-success float-right"> Create </router-link>
    </h1>
    <table>
        <thead>
            <tr>
                <th class="center">#</th>
                <th>Avatar</th>
                <th>Name</th>
                <th class="center">Age</th>
                <th>Company</th>
                <th>Email</th>
                <th class="right"><em>Actions</em></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="p of persons" :key="p.id">
                <td class="center">{{ p.id }}</td>
                <td style="width: 4em;">
                    <img :src="p.avatar" class="avatar">
                </td>
                <td class="name">{{ p.name }}</td>
                <td class="center">{{ p.age }}</td>
                <td>{{ p.company }}</td>
                <td>{{ p.email }}</td>
                <td class="right">
                    <router-link :to="'/show/' + p.id" class="btn"> Show </router-link>
                    <a @click.prevent="removeItem(p.id)" class="btn btn-danger"> Remove </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script setup>
    import {ref, onMounted} from 'vue'
    import {findAll, remove} from '../persons.dao.js'

    const persons = ref([])

    const loadAll = async () => {
        persons.value = await findAll()
    }

    const removeItem = async (id) => {
        await remove(id)
        await loadAll()
    }

    onMounted(loadAll)
</script>

<style scoped>

</style>