<h1>
    <span>List of Persons</span>
    <a [routerLink]="['/edit', -1]" class="btn btn-success float-right"> 
        Create 
    </a>
</h1>
<table>
    <thead>
        <tr>
            <th class="center">#</th>
            <th>Avatar</th>
            <th>Name</th>
            <th class="center">Age</th>
            <th>Company</th>
            <th>Email</th>
            <th class="right"><em>Actions</em></th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let p of persons">
            <td class="center">{{ p.id }}</td>
            <td style="width: 4em;">
                <img [src]="p.avatar" class="avatar">
            </td>
            <td class="name">{{ p.name }}</td>
            <td class="center">{{ p.age }}</td>
            <td>{{ p.company }}</td>
            <td>{{ p.email }}</td>
            <td class="right">
                <a [routerLink]="['/show', p.id]"  class="btn"> Show </a>
                <a  (click)="removeItem(p.id)" class="btn btn-danger"> Remove </a>
            </td>
        </tr>
    </tbody>
</table>
