<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Persons</title>
    <link rel="stylesheet" href="/style.css">
    <script defer type="module">
        import {loadAll, remove} from '/js/person.svc.js'

        function populateTR(parentNode, person) {
            const tr = document.createElement('tr')
            parentNode.appendChild(tr)
            tr.innerHTML = `
                <td class="center">${person.id}</td>
                <td style="width: 4em;">
                    <img src="${person.avatar}" class="avatar">
                </td>
                <td class="name">${person.name}</td>
                <td class="center">${person.age}</td>
                <td>${person.company}</td>
                <td>${person.email}</td>
                <td class="right">
                    <a href="/show/${person.id}" class="btn"> Show </a>
                    <a href="#" data-id="${person.id}" class="remove btn btn-danger"> Remove </a>
                </td>
    `
            return tr
        }

        (async () => {
            const items = await loadAll()
            const tbody = document.querySelector('tbody')
            items.forEach(item => populateTR(tbody, item))

            const removeBtns = document.querySelectorAll('.remove')
            removeBtns.forEach(btn => {
                btn.addEventListener('click', async (ev) => {
                    ev.preventDefault()
                    const id = ev.target.dataset.id
                    await remove(id)
                    const tr = ev.target.parentNode.parentNode
                    const tbody = tr.parentNode
                    tbody.removeChild(tr)
                })
            })
        })()
    </script>
</head>
<body>
    {{> navbar}}
    <h1>
        <span>List of Persons</span>
        <a href="/create" class="btn btn-success" style="float: right; ">
            Create
        </a>
    </h1>
    <table>
        <thead>
            <tr>
                <th class="center">#</th>
                <th>Avatar</th>
                <th>Name</th>
                <th class="center">Age</th>
                <th>Company</th>
                <th>Email</th>
                <th class="right"><em>Actions</em></th>
            </tr>
        </thead>
        <tbody>
            <!--AJAX-->
        </tbody>
    </table>
</body>
</html>
