<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Person</title>
    <link rel="stylesheet" href="/style.css">
    <script defer type="module" >
        import {loadById, remove} from '/js/person.svc.js'

        function populateCard(parentNode, person) {
            parentNode.innerHTML = `
                <img src="${person.avatar}">
                <h1>${person.name}</h1>
                <h2>${person.email}</h2>
                <h3>${person.company}</h3>
                <p class="center"> Age ${person.age} </p>
                <div class="buttons">
                    <a href="/list" class="btn btn-secondary"> Cancel </a>
                    <a href="/edit/${person.id}" class="btn"> Edit </a>
                    <a href="#" class="remove btn btn-danger"> Remove </a>
                </div>
    `
        }

        (async () => {
            const id = '{{id}}'
            const item = await loadById(id)
            const card = document.querySelector('.card')
            populateCard(card, item)

            const removeBtn = document.querySelector('.remove')
            removeBtn.addEventListener('click', async (ev) => {
                ev.preventDefault()
                await remove(id)
                location.assign(`/list`)
            })
        })()
    </script>
</head>
<body>
    {{> navbar}}
    <div class="container">
        <h1>Person ID: {{id}}</h1>
        <div class="card" style="width: 25em;">
            <!--AJAX-->
        </div>
    </div>
</body>
</html>
