<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Simple Spring Web Security App</title>
</head>
<body>
    {{> navbar}}

    <h1>Welcome</h1>

    <ul>
        <li><a href="/auth/login">LOGIN</a></li>
        <li><a href="/protected">PROTECTED</a></li>
    </ul>

</body>
</html>
