<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>List of Persons</title>
</head>
<body>
    {{> navbar}}

    <h1>
        <span>List of Persons</span>
        <a href="/create" class="btn btn-success" style="float: right; ">
            Create
        </a>
    </h1>

    <table>
        <thead>
            <tr>
                <th class="center">#</th>
                <th>Avatar</th>
                <th>Name</th>
                <th class="center">Age</th>
                <th>Company</th>
                <th>Email</th>
                <th class="right"><em>Actions</em></th>
            </tr>
        </thead>
        <tbody>
            {{#persons}}
                <tr>
                    <td class="center">{{id}}</td>
                    <td style="width: 4em;">
                        <img src="{{avatar}}" class="avatar" alt="Avatar">
                    </td>
                    <td class="name">{{name}}</td>
                    <td class="center">{{age}}</td>
                    <td>{{company}}</td>
                    <td>{{email}}</td>
                    <td class="right">
                        <a href="/show/{{id}}" class="btn">
                            Show
                        </a>
                        <a href="/remove/{{id}}" class="btn btn-danger">
                            Remove
                        </a>
                    </td>
                </tr>
            {{/persons}}
        </tbody>
    </table>

</body>
</html>