<form>
    <div class="container" *ngIf="person">
        <h1>Person ID: {{ person.id }}</h1>
        
        <div class="card" style="width: 30em;">
            <div class="center">
                <img [src]="person.avatar" class="avatar" style="width: 15em;">
            </div>
            
            <div style="padding: 1em;">
                <label for="name">full name
                    <input type="text" id="name" name="name" [(ngModel)]="person.name">
                </label>
                <label for="email">email address
                    <input type="email" id="email" name="email" [(ngModel)]="person.email">
                </label>
                <label for="company">company name
                    <input type="text" id="company" name="company" [(ngModel)]="person.company">
                </label>
                <label for="age">age
                    <input type="number" id="age" name="age" [(ngModel)]="person.age" [min]="20" [max]="85">
                </label>
            </div>

            <div class="buttons">
                <a (click)="cancel()" class="btn btn-secondary"> Cancel </a>
                <a (click)="saveItem()" class="btn btn-success"> Save </a>
            </div>
        </div>
    </div>
</form>
