<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Simple Spring Web Security App</title>
</head>
<body>
    {{> navbar}}

    <h1>Login</h1>
    {{#message}} <p class="error"> {{message}} </p> {{/message}}

    <form method="post" action="/auth/login">
        <label for="username">
            <span>Username</span>
            <input type="text" id="username" name="username">
        </label>

        <label for="password">
            <span>Password</span>
            <input type="password" id="password" name="password">
        </label>

        <button type="submit" class="btn block"> Sign-On</button>
    </form>

</body>
</html>
