<nav>
    <span class="brand">
        Simple Spring Web Security App
    </span>

    <span class="float-right">
        <a href="/home">Home</a> |
        <a href="/auth/login">Login</a> |
        <a href="/protected">Protected</a>
    </span>

</nav>
