<div class="container" *ngIf="person">
    <h1>Person ID: {{ person.id }}</h1>
    
    <div class="card" style="width: 25em;">
        <img [src]="person.avatar">
        <h1>{{ person.name }}</h1>
        <h2>{{ person.email }}</h2>
        <h3>{{ person.company }}</h3>
        <p class="center">Age {{ person.age }}</p>
        <div class="buttons">
            <a (click)="cancel()" class="btn btn-secondary"> Cancel </a>
            <a [routerLink]="['/edit', person.id]"  class="btn"> Edit </a>
            <a (click)="removeItem(person.id)" class="btn btn-danger"> Remove </a>
        </div>
    </div>
</div>
